:root {
  --border: 2px #ae80b8 solid;
  --mauve: #ae80b8;
  --lt-green-accent: #e7efde;
  --lt-purple: #eadced;
  --text-color: #56382d;
  /* --text-color: #73260a; */
  --cream: #fefbef;
  /* original color scheme */
  /* --dkblue: #2f6d80;
  --grey: #e1e7e0;
  --turquoise: #6aa4b0;
  --white: #fefaf1;
  --midnight: #2b4560;
  --ltblue: #dbf5f0; */
  /* darker color scheme */
  --dkblue: #394b6f;
  --grey: #cecfd3;
  --turquoise: #738fa7;
  --white: #fefaf1;
  --midnight: #0d255d;
  --ltblue: #c3ceda;
  --putty:#e5e5d9;
  --ltbrown:#BC9476;
  /* connect to resume */
  /* --dkblue: #69728D;
  --grey: #b4b7ba;
  --turquoise: #81858d;
 
  --midnight: #535a70;
  --ltblue: #c7c6b9; */
}
/* classes for text color */
.cream-text {
  color: var(--cream);
}
.dk-blue-text {
  color: var(--dkblue);
}
.grey-text {
  color: var(--grey);
}
.midnight-text {
  color: var(--midnight);
}
.turquoise-text {
  color: var(--turquoise);
}
/* classes for background colors */
.bg-cream {
  background: var(--cream);
}
.bg-dk-blue {
  background: var(--dkblue);
}
.bg-grey {
  background: var(--grey);
}
.bg-midnight {
  background: var(--midnight);
}
.bg-turquoise {
  background: var(--turquoise);
}
body {
  background: var(--grey);
}

.nav-bg {
  background: var(--dkblue);
}
.nav-logo {
  max-width: 200px;
  max-height: 150px;
}
.nav-link-color {
  color: var(--cream) !important;
  font-family: "Playfair Display", serif;
  font-size: 1.1em;
}
.nav-link-color:hover {
  background: var(--grey);
  color: var(--midnight) !important;
  border-radius: 5px;
}
.active {
  color: var(--ltblue) !important;
}
.name {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 4em;
  color: var(--midnight);
}

.job-title {
  font-family: "Bellefair", serif;
  font-size: 2.5em;
  color: var(--dkblue);
}

.job-location {
  font-family: "Bellefair", serif;
  color: var(--midnight);
  font-size: 1.8em;
  opacity: 0.7;
}

.contact-page-link {
  border: var(--dkblue);
  text-decoration: none;
  padding: 20px 10px;
  border-radius: 5px;
  background: var(--dkblue);
  color: var(--cream);
  box-shadow: 3px 3px 5px 4px rgba(43, 69, 96, 0.8);
}
.contact-page-link:hover {
  text-decoration: underline;
  background: var(--cream);
  color: var(--dkblue);
}
/* 
.about-me-link {
  background: var(--cream);
  color: var(--dkblue);
  box-shadow: 3px 3px 5px 4px rgba(43, 69, 96, 0.8);
}
.about-me-link:hover {
  text-decoration: underline;
  background: var(--dkblue);
  color: var(--cream);
} */

.large-logo {
  max-width: 100%;
}
footer {
  max-width: 100%;
}
.icon {
  color: var(--text-color);
  font-size: 2.5em;
}
.icon-light{
  color: var(--ltbrown);
   font-size: 2.5em;
}
.icon-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}
/* css for Web, Design and About Pages*/
.web-body {
  background: var(--putty)
}
.design-body {
  background: var(--ltblue);
}
.about-body {
  background: var(--dkblue);
}

.name-smaller {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 2.8em;
  color: var(--dkblue);
}
.name-smaller-light {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 2.8em;
  color: var(--grey);
}
.page-job-title{
   font-family: "Bellefair", serif;
  color: var(--turquoise);
  font-size: 1.4em;
}
.page-title{
  font-family: "Playfair Display", serif;
  font-size: 3.5em;
  font-weight: 700;
  color: var(--midnight);
}
.page-title-light{
  font-family: "Playfair Display", serif;
  font-size: 3.5em;
  font-weight: 700;
  color: var(--putty);
}

.card-section {
  max-width: 100%;
}
.app-title{
    font-family: "Forum", "Bellfair", serif;
    font-weight: bold;
    font-size: 2em;
    color: var(--dkblue);
}
.app-info{
  font-family: "Forum", "Bellfair", serif;
  font-weight: bold;
  line-height: 1.3;
  font-size: 1.2em;
  color: var(--midnight);
}
.app-image {
  max-width: 300px;
}
.app-image:hover{
  transform: scale(1.1);
}
.app-link {
  max-width: 250px;
  background: var(--dkblue);
  color: var(--putty);
  font-family: "Forum", "Bellfair", serif;
  font-size: 1.3em;
}
.app-link:hover {
  transition: all ease-in-out 0.3s;
  color: var(--midnight);
  border: solid 2px var(--midnight);
}
/* about me page */
.homepage-link {
  margin-top: 50px;
  /* text-align: center; */
  display: block;
  color: var(--dkblue);
}
.title {
  font-size: 4em;
  /* text-align: center; */
  color: var(--text-color);
  /* margin: 5px auto; */
}

.subtitle {
  /* color: var(--text-color); */
  opacity: 0.7;
  /* text-align: center; */
  /* margin: 0px auto 50px; */
}
/* .about-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin: 10px auto;
  width: 80%;
} */
.bio {
  /* background: var(--cream); */
  /* text-align: left; */
  font-size: 1.1em;
  padding: 25px;
  /* border-radius: 5px; */
  line-height: 1.5;
}
/* #contact-me {

  font-size: 2.5em;
  margin-bottom: 0px;
  color: var(--text-color);
} */
.email {
  display: block;
  /* text-align: center; */
  text-decoration: none;
  color: var(--midnight);
  font-size: 1.5em;
  padding: 2px;
}
a:hover.email {
  color: var(--text-color);
  text-decoration: underline;
}
.img-about-border {
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(204, 204, 204, 0.8);
}

@media screen and (max-width: 930px){
  .app-image {
  max-width: 250px;
}
@media screen and (max-width: 775px){
  .app-image {
  max-width: 225px;
}
}
}
@media screen and (max-width: 630px) {
  .title,
  .name, .page-title-light, .page-title {
    font-size: 2.8em;
  }

  .intro, .name-smaller, .name-smaller-light {
    font-size: 2em;
  }

  .job-location,
  .subtitle, .page-job-title {
    font-size: 1.3em;
  }
  .bio {
    font-size: 0.8em;
  }
  .app {
    max-width: 125px;
  }
.app-image {
  max-width: 200px;
}
  .email {
    font-size: 1em;
  }
}
/*  
add this class to the linked in icon if I want it to bouce when hover over it.
.fa-bounce
*/
