body {
  background: lavender;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: normal;
}
p {
  font-family: "Dosis", sans-serif;
}
/*  
add this class to the linked in icon if I want it to bouce when hover over it.
.fa-bounce
*/